@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	background-color: #353541;
	
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0px;
}
/*style cho thanh menu*/
nav {
	background-color: #252e30;
	width: 960px;
	height: 50px;/*    clear: both;*/
	position: fixed;
}
nav #main-menu #logo {
	margin-left: 20px;
	padding: 0px;
}
nav #main-menu #logo a h3 {
	margin-top: 5px;
	display: block;
	background-color: #4b5456;
	width: 40px;
	height: 40px;
	line-height: 40px;
	float: left;
	color: #ffffff;
	text-align: center;
	font-family: "Time New Roman";
	font-size: 30px;
	font-weight: bolder;
	text-decoration: none;
}
nav #main-menu #logo p#name {
	float: left;
	color: #ffffff;
	font-family: "Time New Roman";
	font-size: 16px;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	margin-left: 10px;
}
nav #main-menu ul li {
	float: right;
	list-style: none;
}
nav #main-menu ul li a {
	font-family: "Roboto";
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	padding-right: 20px;
}
nav #main-menu ul li a:hover {
	color: #f0113b;
}
/*end style cho thanh menu*/
/*start style banner*/
#banner {
	width: 960px;
	height: 300px;
	background-color: #FFFFFF;
}
#banner ul li {
	display: block;
	margin: 100px 0px 0px 100px;
	padding-right: 30px;
	list-style: none;
	float: left;
	width: 200px;
	height: 140px;
}
#banner ul li h2 {
	font-family: "Roboto";
	font-size: 20px;
	font-weight: bold;
}
#banner ul li h3 {
	padding-top: 20px;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: normal;
	text-align: justify;
	letter-spacing: 1px;
	line-height: 1.2;
	color: #f0113b;
}
/*end style banner*/

/*start style about*/


#about {
	width: 960px;
	height: 560px;
	background-color: #f2f2f1;
	clear: both;
}
#about .about-me {
	padding: 60px 80px;
}
#about #content {
	float: left;
	width: 390px;
	height: 400px;
}
#about #content img {
	float: left;
	padding-right: 30px;
}
#about #content h2 {
	display: block;
	font-family: "Roboto";
	font-size: 30px;
	font-weight: bold;
	border-bottom: 2px solid #f0113b;
	width: 205px;
	height: 50px;
	line-height: 40px;
	text-align: right;
}
#about #content p {
	margin-top: 20px;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 5px;
}
#about #content ul {
	margin-top: 50px;
}
#about #content ul li {
	border-bottom: 1px solid #D88586;
	padding-top: 20px;
	padding-bottom: 20px;
}
#about #content ul li h3 {
	display: block;
	font-family: "Roboto";
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 3px;
}
#about img#avatar {
	float: right;
	width: 320px;
	height: 350px;
	margin-top: 50px;
}
/*end style about*/



/*start style skill*/

#skill {
	background-color: #FFFFFF;
	width: 960px;
	height: 520px;
}
#skill #skill-content {
	float: left;
	width: 320px;
	height: 400px;
	padding: 60px 0px 0px 80px;
	clear: left;
}
#skill #skill-content img {
	float: left;
	padding-right: 30px;
	height: 40px;
}
#skill #skill-content h2 {
	display: block;
	font-family: "Roboto";
	font-size: 30px;
	font-weight: bold;
	border-bottom: 2px solid #f0113b;
	width: 190px;
	height: 50px;
	line-height: 40px;
	text-align: right;
}
#skill #skill-content p {
	margin-top: 20px;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 3px;
	line-height: 2.2;
	width: 350px;
	text-align: justify;
}
#skill #skill-content a.lienhe {
	float: left;
	font-family: "Roboto";
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;
	border: 2px solid #f0113b;
	color: #f0113b;
	width: 150px;
	text-align: center;
	padding: 20px 10px 20px 10px;
/*	border-radius: 5px;*/
}
#skill #skill-content a:hover{
	background-color: #f0113b;
	color: #FFFFFF;
}
#skill ul {
	float: right;
	width: 320px;
	height: 400px;
	margin-top: 100px;
	margin-right: 80px;
}
#skill ul li {
	padding-top: 20px;
}
#skill ul li h3 {
	display: block;
	font-family: "Roboto";
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 3px;
}
/*end style skill*/
#resume {
	width: 960px;
	height: 300px;
	background-color: #FFFFFF;
	clear: both;
}

#education {
	width: 960px;
	height: 560px;
	background-color: #f2f2f1;
	clear: both;
}

#work-experience {
	width: 960px;
	height: 560px;
	background-color: #FFFFFF;
	clear: both;
}

#contact {
	width: 960px;
	height: 560px;
	background-color: #f2f2f1;
	clear: both;
}
