@charset "utf-8";
/* CSS Document */

body{
	margin: 0px;
	padding: 0px;
	background-image: url(../images/fulscreen.png);
	background-repeat: no-repeat;
	background-size:cover;
/*
	width: 1200px;
	height: 720px;
*/
	
}
#fullscreen{
	
	margin: 0 auto;
	text-transform: uppercase;
	padding-top: 300px;
	
}
#fullscreen h1{
	margin: 0 auto;
	font-family: "Roboto";
	font-size: 50px;
	color: #ffffff;
	font-weight: bold;
	border-top: 1px solid #f0113b;
	border-bottom: 1px solid #f0113b;
	width: 660px;	
	padding: 20px;
	letter-spacing:6px;
}

#fullscreen h1:hover{
	color: #f0113b;
}
#fullscreen h2{
	
	margin: 0 auto;
	font-family: "Roboto";
	font-size: 20px;
	color: #ffffff;
	font-weight: normal;
	letter-spacing: 25px;
	padding: 20px 0px 0px 20px;
	width: 695px;
}	

#fullscreen h3 a{	
	margin: 0 auto;
	display: block;
	font-family: "Roboto";
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #ffffff;
	background-color: #f0113b;
	width: 100px;
	padding: 15px;
	text-decoration: none;
	border-radius: 10px;
}
#fullscreen h3 a:hover{
	background-color: #ffffff;
	color: #f0113b;
}