// variable color
$color-black-0: #29303b; // default
$color-white-0: #fff; //default

$color-brown: #d6b161;
$color-black-1:#222;
$color-gray-0: #7e7e7e;
$color-gray-1: #e9e9e9;


// variable font-size
$fs-0: 15px; //default
$fs-1: 12px;
$fs-2: 20px;
$fs-3: 60px;


//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;


//variable line-height
$line-height-0: 1.43; //default


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;


//break points
$breakpoints:(
    'extra-large': 1200px,
    'large' : 992px,
    'medium' : 768px,
    'small' : 576px,
)