.blog{    
    @extend .design;
    margin-top: 10rem !important;
    .blog-title{
        @extend .design-title;
    }
    .blog__left{
        position: relative;
        img{
            background-size: cover;
            width: 100%;
        }
        .blog__left__info{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            color: #fff;
            background: rgba(0, 0, 0, .5);
            text-align: left;
        }
    }
    .blog__right{
        text-align: left;
        padding: 3rem 0 0 3rem;
        .post-cat{
            padding: 0;
            list-style: none;
            li{
                display: inline-block;
                margin-right: 10px;
            }
        }
        a{
            text-decoration: none;
            color: #909090;
            font-size: 12px;
            text-transform: uppercase;
        }
        h4{
            margin-bottom: 10px;
            a{
                text-decoration: none;
                color: $color-black-1;
                font-size: 18px;
            }
        }
        .date{
            letter-spacing: 2px;
        }
        p{
            margin: 3rem 0 3rem;
            color: #7e7e7e;
            line-height: 3rem;
        }
        .p-read-more{
            font-size: 18px;
        }
    }
}