.design{ 
    width: 100%;
    margin-top: 60rem;
    margin-bottom: 5rem;
    text-align: center;
    .design-title{
        margin-bottom: 80px;
        h3{
            position: relative;
            margin-bottom: 20px;
            padding-bottom: 10px;
            font-size: 24px;
            color: #333;
            &::after{
                content: "";
                position: absolute;
                bottom: -2px;
                left: 50%;
                width: 60px;
                height: 2px;
                margin-left: -31px;                
                background: #595959;
            }
        }
        p{
            display: inline-block;
            width: 60%;
            margin: 0 auto;
            color: $color-gray-0;
            line-height: 25px;            
        }
    }
    .design-item {
        position: relative;
        padding: 3rem;
        border: 1px solid $color-gray-1;
        border-radius: 4px;
        height: 20rem;
        .title{
            display: inline-block;
            margin-top: 30px;
            margin-bottom: 2rem;
            letter-spacing: 1px;
            font-weight: normal;
        }
        .icon {
            position: absolute;
            top: -3rem;
            left: 3rem;
            width: 6rem;
            height: 6rem;
            text-align: center;
            border-radius: 4px;
            background: #222;
            box-shadow: 0 0 0 10px #fff;
            line-height: 60px;
            transition: 0.3s;
            i {
                color: $color-white-0;
                font-size: 3rem;
                line-height: 6rem;
            }
            &:hover{
                background-color: $color-brown;
            }
        }
        p{
            color: $color-gray-0;
        }
    }
}