#footer.dark {
    color: #6f7273;
    background: #222;
    .primary-footer {
        padding: 80px 0;
        background: #222;
        .footer-logo {
            display: block;
            margin-bottom: 20px;
        }        
    }
    h5 {
        letter-spacing: 1px;
        color: #fff;
    }
    .f-list{
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            border-bottom: 1px solid #333;
            a {
                display: block;
                color: #a2a2a2;
                line-height: 45px;
                &::before {
                    padding-right: 15px;
                    content: "\f105";
                    font-family: "fontawesome";
                }
            }
        }
    }
    .f-img{
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            a {
                width: 55px;
                height: 55px;
                float: left;
                margin: 0 10px 10px 0;      
                img {
                    width: 100%;
                    height: auto;
                }          
            }
        }            
    } 
    .secondary-footer {
        display: inline-block;
        width: 100%;
        padding: 35px 0;
        border-top: 1px solid #2c2c2c;
        background: #1b1b1b;
        font-weight: normal;
        span{
            a{
                color: #fff;
                text-decoration: none;
                transition: all .3s;
                &:hover{
                    color: #d6b161;
                }
            }
        }
        .circle {
            border-radius: 50%;
            float: right!important;
            a {
                width: 35px;
                height: 35px;
                text-align: center;
                border: 1px solid #5a5a5a;
                border-radius: 50%;
                line-height: 35px;
                display: inline-block;
                margin: 0 0 0 15px;
                color: #5a5a5a;
                font-size: 20px;
                transition: all .3s;
                &:hover{
                    color: #fff;
                    background-color: #a2a2a2;
                }
            }
        }
    }
}
.lift-off_show {    
    transform: translateY(0);
    opacity: 1;
}
.lift-off {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    transition: all .3s;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .6);
    line-height: 40px;
    &:hover{
        background-color: #d6b161;
        color: #6f7273;
    }
}