.myNavbar{
    font-size: $fs-1;
    position: relative;
    z-index: 3;  
    .header__right {
        ul{
            width: 100%;
            justify-content: space-between;
            li{
                padding-left: 1rem;
                a{
                    color: $color-white-0;
                    font-size: 13px;
                    &.active{
                        color: $color-brown !important;
                    }
                    &:visited{
                        color: $color-white-0;
                    }               
                    &:hover{                
                        color: $color-brown;                
                    }
                }
                
                
            }                   
                
        }
            
    }
}

