.parallax{
    background-image: url(../img/parallax.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    height: 50rem;
    position: relative;
    .parallax-content{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        
        span{
            letter-spacing: 3px;
            font-size: 16px;
            color: #d6b161;
        }
        h1{
            margin-bottom: 0;
            letter-spacing: 2px;
            font-weight: normal;
            font-size: 36px;
            color: #ffffff;
        }
        .btn-join{
            margin-top: 4rem;
            padding: 15px 30px;
            color: #fff;
            background: $color-brown;
            border-radius: 0;
            font-size: 16px;
            text-transform: uppercase;
            font-size: 14px;
            a{
                text-decoration: none;
                color: #fff;
            }
            &:hover{
                background: #fff;
                color: #323232;
            }
        }
    }
}