.showcase{    
    @extend .design;
    margin-top: 10rem !important;
    .showcase-title{
        @extend .design-title;
    }
    
    .myNavbar{
        margin: 0 auto !important;
        .nav{
            justify-content: center;
        }
        .nav-tabs { 
            border-bottom: none;           
            .nav-item {
                margin-bottom: 40px;
                .nav-link {
                    border: none;                    
                    margin: 0 15px;                        
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    color: #a9a8a8;
                    font-size: 14px;
                    &.active {
                        color: #222;
                    }                  
                }
            }
        }
        .myNavbar-content{
            width: 100% !important;
            .myNavbar-item{
                position: relative; 
                z-index: 0;               
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
                .owl-theme {
                    .active span{                            
                        background-color: #fff !important;                                                  
                    }
                    .owl-dots {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: 10;                    
                        span{                        
                            cursor: pointer;                        
                            transition: all .3s ease-in-out;                        
                            border: 1px solid #fff;
                            background-color: transparent;
                            &:hover{                            
                                background-color: #fff !important;                                                  
                            }  
                        }  
                    }  
                }               
            
                .myNavbar-item-hover{
                    padding-top: 4rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    transition: all .3s;
                    opacity: 0;
                    border: 20px solid rgba(0, 0, 0, .1);
                    background-color: rgba(255, 255, 255, .9);
                    z-index: 2;
                    .myNavbar-item__caption{
                        transform: translateY(-55%);
                        transition: all .3s;
                        a{
                            
                            text-decoration: none;
                            transition: all .4s;
                                &:visited{
                                    color: $color-black-0;
                                }
                                &:hover{
                                    color: $color-brown; 
                                } 
                        }
                        i{                        
                            text-align: center;                        
                            font-size: 35px;
                        }
                        h4{
                            margin: 15px 0;
                            letter-spacing: 4px;
                            text-transform: uppercase;
                            font-size: 14px;                         
                                              
                        }
                        p{
                            margin-bottom: 0;
                            letter-spacing: 3px;
                            text-transform: uppercase;                            
                            font-size: 12px;                        
                            font-weight: normal;
                            a{
                                color: #757575 !important;
                            }                                                                                                       
                        }
                    }                    
                
                    &:hover{
                        opacity: 70;                        
                        .myNavbar-item__caption{
                            transform: translateY(0%);
                        }                            
                    }
                }
                
                
            }
            
        }
        
    }
}
