.team{    
    @extend .design;
    margin-top: 10rem !important;
    .team-title{
        @extend .design-title;
    }
    .team-people{
        
        .myCard{
            position: relative;
            overflow: hidden;
            z-index: 10;
            img{
                background-size: cover;
                width: 100%;
                height: auto;
            }
            
            .myCard-intro {
                position: absolute;
                right: 0 !important;
                bottom: 30px !important;
                width: 70%;
                height: 7rem;
                padding: 10px 20px;
                text-align: right;
                background: rgba(0, 0, 0, .7);
                text-transform: uppercase;
                h4{
                    color: $color-white-0;
                    margin: 0.5rem 0;
                    letter-spacing: 2px; 
                    font-size: 15px;                   
                }
                p{
                    color: rgba(255, 255, 255, .5);
                    font-size: 13px;
                    margin-bottom: 0;
                    letter-spacing: 2px;
                }
            }
            
            .team-hover{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: 0;                
                transition: all .3s;
                opacity: 0;
                border: 20px solid rgba(0, 0, 0, .1);
                background-color: rgba(255, 255, 255, .9);                
                
                .desk{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    padding: 30px 20px;                    
                    transition: all .3s .2s;                    
                    transform: translateY(-150%);     
                    opacity: 0; 
                    h4{
                        margin-bottom: 25px;
                        letter-spacing: 4px;
                        text-transform: uppercase;
                        font-size: 14px;
                        color: $color-black-1;
                    }    
                    p{
                        margin-bottom: 0;
                        color: #7e7e7e;
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 30px;
                    }          
                }
                .team-social{
                    position: absolute;
                    bottom: 0;
                    width: 100%;                    
                    transition: all .3s .2s;                    
                    transform: translateY(200%);
                    text-align: center;   
                    opacity: 0;                 
                    a{
                        font-size: 16px;
                        margin: 0 10px;
                        color: #222;
                    }
                }  
                              
            } 
            &:hover .team-hover{                    
                opacity: 100;
                .desk, .team-social{
                    opacity: 100;                        
                    transform: translateY(0%);
                }                    
            }             
        }
        .promo-box{
            background: #f5f5f5;            
            margin: 10rem 0;
            width: 100%;
            .promo-info {
                text-align: left;
                padding: 1rem 4rem;                
                h4{
                    margin-bottom: 0;
                    letter-spacing: 1px;
                    font-size: 18px;
                    text-transform: uppercase;
                    span{
                        display: inline;
                        margin-top: 0;
                        color: #d6b161 !important;
                    }
                }
                span{
                    display: block;
                    margin-top: 10px;
                    color: #7e7e7e
                }
            }            
        }
    }
}