/* GLOBAL CSS */
    
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
}
html{
    font-size: 20px;
}
.clear{
    clear: both;
}

.mid-content{
    margin:0 auto;
    width: 99%;
}
h1{
    color: #343434;
    text-align: center;   
    margin: 0;
}

.line{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
/* END GLOBAL CSS */

/* HEADER CSS */
.header{
    padding: 0px 78px 0 10px;
}
.header__logo{
    float: left;
    width: 400px;
}
.header__slogan{
    float: right;
    width: 300px;
}
/* END HEADER CSS */

/* NAVIGATION CSS */
.nav{
    color: #6A6A6A;      
}
.nav ul{
    list-style: none;
    margin:0;
    padding-left: 0px;
    
}
.nav ul li{
    display: inline;
    padding:0 0.3rem;
    
}
.nav ul li a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 700;
    
}
.nav ul li:hover{
    border-bottom: 3px solid #922728;
}
.nav ul li a:visited{
    color: #626262;
}
.nav ul li.active{
    border-bottom: 3px solid #922728;
}
/* END NAVIGATION CSS */

/* CAROUSEL */
.carousel img{
    width: 100%;
}
/* END CAROUSEL */

/* INTRODUCTION */
.intro{
    text-align: center;
    margin-top: 80px;
}

.intro p{
    margin: 0 auto;
    width: 95%;
    color: #6C6C6C;
    font-size: 1rem;
    font-weight: lighter;
    text-align: justify;
}
/* END INTRODUCTION */

/* PROGRAM CSS */
.program{
    margin: 80px 0;
}

.program__list__content{
    float: left;
    width: 25%;
    padding: 0 10px;
}
.program__list__content img{
    width: 100%;
}
.program__list__content h4{
    color: #93252D;
    text-align: center;
    margin: 0;    
    font-size: 16px;
}
.program__list__content p{
    color: #6C6C6C;
    font-size: 0.7rem;
    text-align: center;
    margin: 0;  
}
/* END PROGRAM CSS */

/* NEW CSS */

.news__left{
    float: left;
    background-image: url('../img/tin_tuc_1.png');
    width: 50%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-bottom: 5px;
    background-clip: content-box;
    border-bottom: 3px solid #862323;
}
.news__left h4{
    margin: 0;
    color: #ffffff;    
    position: absolute;
    bottom: 20px;
    left: 30px;
    
}
.news__right{
    float: right;    
    width: 50%;
    height: 500px;
}
.news__right__list{
    float: left;
    width: 47%;
    height: 49%;
    margin: 0px 0px 10px 20px;
    border-bottom: 3px solid #862323;
    padding-bottom: 5px;
    background-clip: content-box;
}
.news__right__list h5{
    margin: 0;
    color: #ffffff;
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-align: justify;
    font-size: 0.7rem;
    padding-right: 5px;
}
.list1{
    background-image: url('../img/tin_tuc_2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.list2{
    background-image: url('../img/tin_tuc_3.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.list3{
    background-image: url('../img/tin_tuc_4.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.list4{
    background-image: url('../img/tin_tuc_5.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
/* END NEW CSS */