.site-section {
    padding: 5em 0;
}
.btn-mybtn{    
    background-color: #57d131;
    border: 1px solid transparent;    
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    border-radius: 100px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    &:hover, :active, :focus {
        color: #fff;
        background-color: #4ec22a;
        -webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
}

.section-heading {
    margin-bottom: 30px;
    position: relative;
    z-index: 10;
    h2 {
        position: relative;
        font-weight: 200;
        padding-top: 20px;
        font-size: 35px;
        color: #2c3e50;
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            width: 50px;
            background: #57d131;
            z-index: -1;
        }
        strong {
            font-weight: 800;
        }
    }        
}
.social{
    .social-item {
        display: inline-block;
        width: 60px;
        height: 60px;
        border: 1px solid #b3bdc6;
        position: relative;
        border-radius: 50%;
        font-size: 22px;
        margin: 0 10px;
        color: #57d131;
        background-color: transparent;  
        -webkit-transition: .3s all;  
        transition: .3s all;  
        &:hover{
            background-color: #57d131;
            color: #fff;
        }
        span {
            position: absolute;
            top: 50%;
            left: 50%;            
            -webkit-transform: translate(-50%, -50%);            
                    transform: translate(-50%, -50%);
        }
    }  
    a {
        text-decoration: none;
    }    
}


@-webkit-keyframes btnTransferLeft{
    0%{
        width: 0%;
    }
    10%{
        width: 10%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
    }


@keyframes btnTransferLeft{
    0%{
        width: 0%;
    }
    10%{
        width: 10%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
    }