/* GLOBAL CSS */

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: fontchinh;
}

body{
    margin: 0;
}
html{
    font-size: 20px;
}

.section-padding{
    padding:0 15%;
}
@font-face{
    font-family: fontchinh;
    src: url('../font/OpenSans-Regular.ttf');
}

:root{
    --tigon: #7F67F8;
    --ghi:#3A435B;
}

/* END GLOBAL CSS */


/* HEADER CSS */
.header{
    background-color: #363D41;
    color: #ffffff;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7rem;
    font-weight: 400;
      
}
.header__left{
    letter-spacing: 0.6rem;
    padding-left:  0.5rem;
    
}
.header__left i{
    cursor: pointer;
}
.header__right{
    letter-spacing: 0.1rem;
}
/* END HEADER CSS */

/* NAVIGATION CSS */
.nav{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo{
    font-size: 1rem;
    font-weight: 600;
    color: #8A8F98;
    cursor: pointer;
}
.nav__logo b{
    color: var(--tigon);
    font-size: 1.5rem;
    font-weight: 800;
}
.nav__menu{
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--ghi);
    
}
.nav__menu ul{
    list-style: none;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.nav__menu ul li{
    padding-left: 1rem;
}
.nav__menu ul li a{
    text-decoration: none;
}
.nav__menu ul li a:visited{
    color: var(--ghi);
}
.nav__menu ul li a:hover{
    color: var(--tigon);
}
.nav__menu ul li a.active{
    color: var(--tigon);
}
/* END NAVIGATION CSS */

/* CAROUSEL CSS */
.carousel{
    width: 100%;
    height: 30rem;
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 0;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    z-index: 1; 
}
.carousel img{
    width: 100%;
    display: block;
}
.carousel__item__content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    width: 60%;    
    z-index: 3;
    
}
.carousel__item__content h1{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;        
}

.carousel__item__content p{
    font-size: 0.7rem;
    font-weight: 500;       
}

.btn{
    width: 6rem;
    height: 1.8rem;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid var(--tigon);
    background-color: var(--tigon);
}
.btn-readmore{
    
}

/* END CAROUSEL CSS */

/* SERVICE CSS */
.service{
    text-align: center;
    padding-bottom: 2rem;
}
.service__item{
    display: flex;
    justify-content: space-around;
}
.service__item__content{
    width: 30%;
}
.service h1{
    margin-top: 3rem;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 500;
}
.service h2{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 0.7rem;
    font-weight: 500;
}
.service__item__content{
    margin-top: 1rem;
}
.service__item__content i{
    color: #F97C69;
    font-size: 1.5rem;
}
.service__item__content_border{
    border-right: 0.5px solid #EDEDED;    
}
.service__item__content p{
    font-size: 0.7rem;
    font-weight: 600;
}
.service__item__content span{
    font-size: 0.6rem;
    font-weight: 500;
    color: #8A8F98;    
}
/* END SERVICE CSS */

/* CONTACT */
.contact{
    width: 100%;
    height: 10rem;
    overflow: hidden;
    position: relative;
}
.contact img{
    width: 100%;
}
.contact__item{
    display:flex;
    align-items: center;
    width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%); 
    justify-content: space-between;
}
.contact__item span{
    display:inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;   
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem; 
}
.btn-contact {
    width: 7rem;
    height: 1.8rem;
}
/* END CONTACT */

/* SERVICE CSS */
.result{
    text-align: center;
    padding-bottom: 2rem;
}
.result__item{
    display: flex;
    justify-content: space-around;
}
.result__item__content{
    width: 30%;
}
.result h1{
    margin-top: 3rem;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 500;
    color: #2C363E;
}
.result h2{
    margin-top: 1rem;
    font-size: 0.7rem;
    font-weight: 500;
    color: #ACACAC;
}
.result__item__content{
    margin-top: 1rem;
}
.result__item__content h1{
    color: #F97C69;
    font-size: 1.5rem;
    font-weight: 600;
}
.result__item__content_border{
    border-right: 0.5px solid #EDEDED;    
}
.result__item__content p{
    font-size: 0.7rem;
    font-weight: 600;
    color: #2C363E;
    margin-bottom: -2px;
}
.result__item__content span{
    font-size: 0.6rem;
    font-weight: 500;
    color: #8A8F98;
    margin: 0;
}
/* END SERVICE CSS */

/* MAIN SERVICE CSS */
.main-service{
    background-image: url('../imgs/3.jpg');
    text-align: center;
    color: #ffffff;
    height: 35rem;;
    
}
.main-service>h1{
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin: 0;
}
.main-service>span{
    font-size: 0.7rem;
    font-weight: 500;
    color: #E0E1E2;
    
}
.main-service__list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin:3rem 0;
}
.main-service__list__content{
    background-color: #ffffff;
    padding: 1rem 1rem;
    color: #000000;
}
.main-service__list__content i{
    font-size: 1.5rem;
    color: #F97C69;
}
.main-service__list__content p{
    font-size: 1.3rem;
    margin: 0.5rem 0 0.5rem 0;
    font-weight: 600;
}
.main-service__list__content span{
    font-size: 0.7rem;
    color: #575757;
}
.main-service_background{
    background-color: #F97C69;
    color: #ffffff;
}
.main-service_background span{
    color: #FEE9E6;
}
.main-service_background i{
    color: #ffffff;
}
/* END MAIN SERVICE CSS */

/* CUSTOMER CSS */
.customer{
    text-align: center;
    padding-bottom: 2rem;
}
.customer>h1{
    font-size: 1.5rem;
    padding-top: 3rem;
    margin: 0;
    color: #2C363E;
}
.customer>p{
    font-size: 0.7rem;
    padding-top: 0.5rem;
    color: #ACACAC;
}
.customer__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}
.customer__list__content{
    padding: 0 1rem;
}

.customer__list__content img{    
    border: 4px solid var(--tigon);
    width: 4rem;
    height: 4rem;  
    border-radius: 50%; 
}
.customer__list__content>p{
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 0;
}
.customer__list__content>span{
    font-size: 0.6rem;
    font-weight: 500;
    color: #ACACAC;
    line-height: 1px;
}
/* END CUSTOMER CSS */

/* FOOTER CSS */
.footer{
    background-color: #0B0C11;
    color: #8A8F98;
    overflow: hidden;
    position: relative;
}
.footer__list{
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}
.footer__list__content{
    width: 50%;
    padding: 1rem 2rem;
}
.footer__list__content h1{
    font-size: 1rem;
    font-weight: 500;
    color: #F97C69;
    /* margin-bottom: 2rem; */
}
.footer__list__content>p{
    font-size: 0.7rem;
    font-weight: 500;    
    margin-bottom: 3rem;
}
.footer__list__content__right{
    display: flex;
    justify-content: space-between;
}
.footer__list__content__item{
    width: 50%;    
}

.footer__list__content__item span{
    font-size: 0.7rem;
    font-weight: 500;   
    padding: 5px 0; 
}
.footer__list__content__item p{
    color: #FCFCFC;
    font-size: 0.7rem;
    margin: 10px 0;
}
.footer__list__content__item i{
    color: #F97C69;
    font-size: 0.7rem;
    padding-right: 0.5em;
}
.footer__end{
    width: 100%;
    height: 2rem;
    background-color: #252525;
    text-align: center;
}
.footer__end p{
    font-size: 0.7rem;
    font-weight: 500; 
    color: #FBFDFA;
    padding-top: 10px; 
}
.footer__goto{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
}
.form{
    position: relative;
    width: 100%;  
     
}
.email{
    position: absolute;
    width: 100%;
    height: 2rem;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: transparent;    
    border: 0.5px solid #8C8C8F; 
}
.email::placeholder{
    padding: 1rem;    
}
.btn-footer{
    width: 2rem;
    height: 2rem;    
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    color: #ffffff;
    border: 1px solid var(--tigon);
    background-color: var(--tigon);
    cursor: pointer;
}
/* END FOOTER CSS */

datalist { 
    display: inline-block;
}