.about{
    width: 100%;
    padding: 5em 0 0 0;
    display: block;
    overflow: hidden;
    .about-typed {
        border: 1px solid #4ebe2a;
        border-radius: 5px;
        height: 540px;    
        width: 100%;   
        height: 100%;     
        overflow: hidden;
        text-align: left;
        .var-highlight{
            color: #C0AD60;
        }
        .string-highlight{
            color: rgba(253, 149, 90, 0.8);
        }
        
        #typewriter{
                font-size: 2em;
                margin: 0;
                font-family: "Courier New";   
                &:after{
                    content: "|";
                    -webkit-animation: blink 500ms linear infinite alternate;
                            animation: blink 500ms linear infinite alternate;
                }
        }
        
        @-webkit-keyframes blink{
            0%{opacity: 0;}
            100%{opacity: 1;}
        }
        
        @keyframes blink{
            0%{opacity: 0;}
            100%{opacity: 1;}
        }   
    }
    
    
    p {
        font-weight: 200;
        .lead {
            font-weight: 300;
            line-height: 1.5;        
            font-size: 1.5rem;
            
        }
        .btn-secondary{
            border-radius: 100px;
            text-transform: uppercase;
            letter-spacing: .1em;
        }
    }
    
}