.myNavbar{
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0px;
    margin-bottom: 0px;
    background: none;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 200;
    background: #fff;    
    background: transparent !important;
    
    .navbar-brand {
        margin: 0;
        display: inline-block;        
        padding: 5px 20px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .2em;
        border: 2px solid #fff;
        -webkit-transition: .3s all;
        transition: .3s all;  
        &:hover, :active, :focus {
            color: #fff;
            background: -webkit-gradient(linear, left top, right top, from(orange), to(#57d131));
            background: linear-gradient(to right, orange, #57d131);
            background-position: center center;
        }
    }
    .navbar-nav{
        li{
            position: relative;
            overflow: hidden;

            .lineRight {
                opacity: 0;
                width: 0;
                height: 1px;
                background: -webkit-gradient(linear, right top, left top, from(orange), to(#57d131));
                background: linear-gradient(to left, orange, #57d131);
                // -webkit-transition: .5s all;
                // transition: .5s all;
            }
            .lineLeft {
                height: 1px;
                width: 0;
                background: -webkit-gradient(linear, left top, right top, from(orange), to(#57d131));
                background: linear-gradient(to right, orange, #57d131);
                opacity: 0;
                // -webkit-transition: .5s all;
                // transition: .5s all;
            }
            a {
                color: #fff !important;
                padding: 15px 20px !important;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: .1em;
                position: relative;
                text-transform: uppercase;
                letter-spacing: .2em;   
                -webkit-transition: .5s all;   
                -webkit-transition: .3s all;   
                transition: .3s all;            
            }
            
            &:hover, :active, :focus {
                a{
                    color: #57d131 !important;
                }
                .lineRight{
                    opacity: 1;      
                    -webkit-animation: lineTransferRight .3s 0s linear;
                            animation: lineTransferRight .3s 0s linear;
                            width: 100%;
                } 
                .lineLeft{
                    opacity: 1;
                    -webkit-animation: lineTransferLeft .3s 0s linear;
                            animation: lineTransferLeft .3s 0s linear;
                            width: 100%;
                }
            }
            .active .lineLeft, .active .lineRight{
                opacity: 1;
            }
        }
    }        
       
}
.clear{
    clear: both;
}

@-webkit-keyframes lineTransferRight{
    0%{
      width: 0%;
      float: right
    }
    10%{
      width: 10%;
      float: right
    }
    50%{
      width: 50%;
      float: right

    }
    100%{
      width: 100%;
      float: right
    }
  }

@keyframes lineTransferRight{
    0%{
      width: 0%;
      float: right
    }
    10%{
      width: 10%;
      float: right
    }
    50%{
      width: 50%;
      float: right

    }
    100%{
      width: 100%;
      float: right
    }
  }

@-webkit-keyframes lineTransferLeft{
0%{
    width: 0%;
}
10%{
    width: 10%;
}
50%{
    width: 50%;
}
100%{
    width: 100%;
}
}

@keyframes lineTransferLeft{
0%{
    width: 0%;
}
10%{
    width: 10%;
}
50%{
    width: 50%;
}
100%{
    width: 100%;
}
}