* {
  margin: 0;
  padding: 0; }

body {
  color: #323232;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5; }

html {
  font-size: 10px; }

.btn-join {
  padding: 15px 30px;
  color: #fff;
  background: #222;
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-size: 14px; }
  .btn-join a {
    text-decoration: none;
    color: #fff; }
  .btn-join:hover {
    background: #d6b161; }

.myNavbar {
  font-size: 12px;
  position: relative;
  z-index: 3; }
  .myNavbar .header__right ul {
    width: 100%;
    justify-content: space-between; }
    .myNavbar .header__right ul li {
      padding-left: 1rem; }
      .myNavbar .header__right ul li a {
        color: #fff;
        font-size: 13px; }
        .myNavbar .header__right ul li a.active {
          color: #d6b161 !important; }
        .myNavbar .header__right ul li a:visited {
          color: #fff; }
        .myNavbar .header__right ul li a:hover {
          color: #d6b161; }

.myBanner {
  background-image: url(../img/index-banner-2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60rem;
  z-index: 0; }
  .myBanner .myBanner__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center; }
    .myBanner .myBanner__content h1 {
      font-size: 60px;
      letter-spacing: 5px;
      font-weight: 300;
      line-height: normal; }
    .myBanner .myBanner__content h3 {
      font-size: 20px;
      letter-spacing: 6px; }

.design, .showcase, .team, .blog {
  width: 100%;
  margin-top: 60rem;
  margin-bottom: 5rem;
  text-align: center; }
  .design .design-title, .showcase .design-title, .team .design-title, .blog .design-title, .showcase .showcase-title, .team .team-title, .blog .blog-title {
    margin-bottom: 80px; }
    .design .design-title h3, .showcase .design-title h3, .team .design-title h3, .blog .design-title h3, .showcase .showcase-title h3, .team .team-title h3, .blog .blog-title h3 {
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 10px;
      font-size: 24px;
      color: #333; }
      .design .design-title h3::after, .showcase .design-title h3::after, .team .design-title h3::after, .blog .design-title h3::after, .showcase .showcase-title h3::after, .team .team-title h3::after, .blog .blog-title h3::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 60px;
        height: 2px;
        margin-left: -31px;
        background: #595959; }
    .design .design-title p, .showcase .design-title p, .team .design-title p, .blog .design-title p, .showcase .showcase-title p, .team .team-title p, .blog .blog-title p {
      display: inline-block;
      width: 60%;
      margin: 0 auto;
      color: #7e7e7e;
      line-height: 25px; }
  .design .design-item, .showcase .design-item, .team .design-item, .blog .design-item {
    position: relative;
    padding: 3rem;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    height: 20rem; }
    .design .design-item .title, .showcase .design-item .title, .team .design-item .title, .blog .design-item .title {
      display: inline-block;
      margin-top: 30px;
      margin-bottom: 2rem;
      letter-spacing: 1px;
      font-weight: normal; }
    .design .design-item .icon, .showcase .design-item .icon, .team .design-item .icon, .blog .design-item .icon {
      position: absolute;
      top: -3rem;
      left: 3rem;
      width: 6rem;
      height: 6rem;
      text-align: center;
      border-radius: 4px;
      background: #222;
      box-shadow: 0 0 0 10px #fff;
      line-height: 60px;
      transition: 0.3s; }
      .design .design-item .icon i, .showcase .design-item .icon i, .team .design-item .icon i, .blog .design-item .icon i {
        color: #fff;
        font-size: 3rem;
        line-height: 6rem; }
      .design .design-item .icon:hover, .showcase .design-item .icon:hover, .team .design-item .icon:hover, .blog .design-item .icon:hover {
        background-color: #d6b161; }
    .design .design-item p, .showcase .design-item p, .team .design-item p, .blog .design-item p {
      color: #7e7e7e; }

.skill {
  background-image: url(../img/skill.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 60rem; }
  .skill .skill__left {
    display: table;
    width: 100%;
    height: 50rem;
    vertical-align: middle; }
    .skill .skill__left h3 {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      letter-spacing: 6px;
      color: #fff;
      font-size: 2rem; }
  .skill .skill__right {
    padding: 0 15rem 0 7rem;
    color: #fff;
    height: 60rem;
    position: relative; }
    .skill .skill__right .dark-overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.5);
      z-index: 1; }
    .skill .skill__right .skill_title {
      position: absolute;
      z-index: 3;
      width: 70%; }
      .skill .skill__right .skill_title h4 {
        letter-spacing: 2px;
        font-size: 18px;
        margin: 10rem 0 3rem 0;
        font-weight: normal;
        line-height: 1.5; }
      .skill .skill__right .skill_title p {
        margin: 0 0 30px;
        line-height: 30px; }
    .skill .skill__right .skill_progress .skill_progress_item {
      background: #606060;
      margin: 1rem 0;
      overflow: visible;
      height: 20px;
      margin-top: 10px;
      margin-bottom: 50px;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-radius: 0;
      background: #606060;
      box-shadow: none;
      font-weight: 400; }
      .skill .skill__right .skill_progress .skill_progress_item .progress-bar {
        width: 80%;
        position: relative;
        overflow: visible;
        box-sizing: border-box;
        padding-top: 0;
        padding-left: 10px;
        text-align: left;
        color: #222;
        background: #fff;
        box-shadow: none;
        font-size: 10px;
        line-height: 20px;
        transition: width .6s ease; }
        .skill .skill__right .skill_progress .skill_progress_item .progress-bar span {
          position: absolute;
          top: -28px;
          right: -5px;
          display: inline-block;
          min-width: 25px;
          height: 20px;
          padding: 0 8px;
          text-align: center;
          letter-spacing: 0;
          border-radius: 30px;
          color: #222 !important;
          background-color: #a4a4a4 !important;
          line-height: 20px; }
          .skill .skill__right .skill_progress .skill_progress_item .progress-bar span::before {
            position: absolute;
            bottom: -2px;
            left: 15px;
            display: block;
            width: 5px;
            height: 5px;
            content: "";
            transform: rotate(45deg);
            border-style: none;
            border-right: 1px solid #666;
            border-image: none;
            border-color: #a4a4a4;
            border-right: 1px solid #a4a4a4;
            border-image: none;
            background-color: #a4a4a4; }

.showcase {
  margin-top: 10rem !important; }
  .showcase .myNavbar {
    margin: 0 auto !important; }
    .showcase .myNavbar .nav {
      justify-content: center; }
    .showcase .myNavbar .nav-tabs {
      border-bottom: none; }
      .showcase .myNavbar .nav-tabs .nav-item {
        margin-bottom: 40px; }
        .showcase .myNavbar .nav-tabs .nav-item .nav-link {
          border: none;
          margin: 0 15px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #a9a8a8;
          font-size: 14px; }
          .showcase .myNavbar .nav-tabs .nav-item .nav-link.active {
            color: #222; }
    .showcase .myNavbar .myNavbar-content {
      width: 100% !important; }
      .showcase .myNavbar .myNavbar-content .myNavbar-item {
        position: relative;
        z-index: 0; }
        .showcase .myNavbar .myNavbar-content .myNavbar-item img {
          display: block;
          width: 100%;
          height: auto; }
        .showcase .myNavbar .myNavbar-content .myNavbar-item .owl-theme .active span {
          background-color: #fff !important; }
        .showcase .myNavbar .myNavbar-content .myNavbar-item .owl-theme .owl-dots {
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 10; }
          .showcase .myNavbar .myNavbar-content .myNavbar-item .owl-theme .owl-dots span {
            cursor: pointer;
            transition: all .3s ease-in-out;
            border: 1px solid #fff;
            background-color: transparent; }
            .showcase .myNavbar .myNavbar-content .myNavbar-item .owl-theme .owl-dots span:hover {
              background-color: #fff !important; }
        .showcase .myNavbar .myNavbar-content .myNavbar-item .myNavbar-item-hover {
          padding-top: 4rem;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0;
          transition: all .3s;
          opacity: 0;
          border: 20px solid rgba(0, 0, 0, 0.1);
          background-color: rgba(255, 255, 255, 0.9);
          z-index: 2; }
          .showcase .myNavbar .myNavbar-content .myNavbar-item .myNavbar-item-hover .myNavbar-item__caption {
            transform: translateY(-55%);
            transition: all .3s; }
            .showcase .myNavbar .myNavbar-content .myNavbar-item .myNavbar-item-hover .myNavbar-item__caption a {
              text-decoration: none;
              transition: all .4s; }
              .showcase .myNavbar .myNavbar-content .myNavbar-item .myNavbar-item-hover .myNavbar-item__caption a:visited {
                color: #29303b; }
              .showcase .myNavbar .myNavbar-content .myNavbar-item .myNavbar-item-hover .myNavbar-item__caption a:hover {
                color: #d6b161; }
            .showcase .myNavbar .myNavbar-content .myNavbar-item .myNavbar-item-hover .myNavbar-item__caption i {
              text-align: center;
              font-size: 35px; }
            .showcase .myNavbar .myNavbar-content .myNavbar-item .myNavbar-item-hover .myNavbar-item__caption h4 {
              margin: 15px 0;
              letter-spacing: 4px;
              text-transform: uppercase;
              font-size: 14px; }
            .showcase .myNavbar .myNavbar-content .myNavbar-item .myNavbar-item-hover .myNavbar-item__caption p {
              margin-bottom: 0;
              letter-spacing: 3px;
              text-transform: uppercase;
              font-size: 12px;
              font-weight: normal; }
              .showcase .myNavbar .myNavbar-content .myNavbar-item .myNavbar-item-hover .myNavbar-item__caption p a {
                color: #757575 !important; }
          .showcase .myNavbar .myNavbar-content .myNavbar-item .myNavbar-item-hover:hover {
            opacity: 70; }
            .showcase .myNavbar .myNavbar-content .myNavbar-item .myNavbar-item-hover:hover .myNavbar-item__caption {
              transform: translateY(0%); }

.team {
  margin-top: 10rem !important; }
  .team .team-people .myCard {
    position: relative;
    overflow: hidden;
    z-index: 10; }
    .team .team-people .myCard img {
      background-size: cover;
      width: 100%;
      height: auto; }
    .team .team-people .myCard .myCard-intro {
      position: absolute;
      right: 0 !important;
      bottom: 30px !important;
      width: 70%;
      height: 7rem;
      padding: 10px 20px;
      text-align: right;
      background: rgba(0, 0, 0, 0.7);
      text-transform: uppercase; }
      .team .team-people .myCard .myCard-intro h4 {
        color: #fff;
        margin: 0.5rem 0;
        letter-spacing: 2px;
        font-size: 15px; }
      .team .team-people .myCard .myCard-intro p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 13px;
        margin-bottom: 0;
        letter-spacing: 2px; }
    .team .team-people .myCard .team-hover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      transition: all .3s;
      opacity: 0;
      border: 20px solid rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.9); }
      .team .team-people .myCard .team-hover .desk {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 30px 20px;
        transition: all .3s .2s;
        transform: translateY(-150%);
        opacity: 0; }
        .team .team-people .myCard .team-hover .desk h4 {
          margin-bottom: 25px;
          letter-spacing: 4px;
          text-transform: uppercase;
          font-size: 14px;
          color: #222; }
        .team .team-people .myCard .team-hover .desk p {
          margin-bottom: 0;
          color: #7e7e7e;
          font-size: 14px;
          font-weight: normal;
          line-height: 30px; }
      .team .team-people .myCard .team-hover .team-social {
        position: absolute;
        bottom: 0;
        width: 100%;
        transition: all .3s .2s;
        transform: translateY(200%);
        text-align: center;
        opacity: 0; }
        .team .team-people .myCard .team-hover .team-social a {
          font-size: 16px;
          margin: 0 10px;
          color: #222; }
    .team .team-people .myCard:hover .team-hover {
      opacity: 100; }
      .team .team-people .myCard:hover .team-hover .desk, .team .team-people .myCard:hover .team-hover .team-social {
        opacity: 100;
        transform: translateY(0%); }
  .team .team-people .promo-box {
    background: #f5f5f5;
    margin: 10rem 0;
    width: 100%; }
    .team .team-people .promo-box .promo-info {
      text-align: left;
      padding: 1rem 4rem; }
      .team .team-people .promo-box .promo-info h4 {
        margin-bottom: 0;
        letter-spacing: 1px;
        font-size: 18px;
        text-transform: uppercase; }
        .team .team-people .promo-box .promo-info h4 span {
          display: inline;
          margin-top: 0;
          color: #d6b161 !important; }
      .team .team-people .promo-box .promo-info span {
        display: block;
        margin-top: 10px;
        color: #7e7e7e; }

.parallax {
  background-image: url(../img/parallax.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  height: 50rem;
  position: relative; }
  .parallax .parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .parallax .parallax-content span {
      letter-spacing: 3px;
      font-size: 16px;
      color: #d6b161; }
    .parallax .parallax-content h1 {
      margin-bottom: 0;
      letter-spacing: 2px;
      font-weight: normal;
      font-size: 36px;
      color: #ffffff; }
    .parallax .parallax-content .btn-join {
      margin-top: 4rem;
      padding: 15px 30px;
      color: #fff;
      background: #d6b161;
      border-radius: 0;
      font-size: 16px;
      text-transform: uppercase;
      font-size: 14px; }
      .parallax .parallax-content .btn-join a {
        text-decoration: none;
        color: #fff; }
      .parallax .parallax-content .btn-join:hover {
        background: #fff;
        color: #323232; }

.blog {
  margin-top: 10rem !important; }
  .blog .blog__left {
    position: relative; }
    .blog .blog__left img {
      background-size: cover;
      width: 100%; }
    .blog .blog__left .blog__left__info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      color: #fff;
      background: rgba(0, 0, 0, 0.5);
      text-align: left; }
  .blog .blog__right {
    text-align: left;
    padding: 3rem 0 0 3rem; }
    .blog .blog__right .post-cat {
      padding: 0;
      list-style: none; }
      .blog .blog__right .post-cat li {
        display: inline-block;
        margin-right: 10px; }
    .blog .blog__right a {
      text-decoration: none;
      color: #909090;
      font-size: 12px;
      text-transform: uppercase; }
    .blog .blog__right h4 {
      margin-bottom: 10px; }
      .blog .blog__right h4 a {
        text-decoration: none;
        color: #222;
        font-size: 18px; }
    .blog .blog__right .date {
      letter-spacing: 2px; }
    .blog .blog__right p {
      margin: 3rem 0 3rem;
      color: #7e7e7e;
      line-height: 3rem; }
    .blog .blog__right .p-read-more {
      font-size: 18px; }

.shortcode {
  background-image: url(../img/pattern-2.png);
  background-repeat: repeat;
  /* background-size: cover; */
  background-attachment: fixed; }
  .shortcode .myNavtab {
    margin: 0 auto !important;
    padding: 10rem 0; }
    .shortcode .myNavtab .nav {
      justify-content: left; }
    .shortcode .myNavtab .nav-tabs {
      border-bottom: none; }
      .shortcode .myNavtab .nav-tabs .nav-item {
        margin: 10px;
        position: relative;
        display: block; }
        .shortcode .myNavtab .nav-tabs .nav-item .nav-link {
          display: block;
          padding: 35px 70px;
          position: relative;
          transition: all .3s ease;
          color: #434343;
          border-radius: 0;
          background: rgba(34, 34, 34, 0.05);
          border: none; }
          .shortcode .myNavtab .nav-tabs .nav-item .nav-link:after {
            position: absolute;
            bottom: -10px;
            left: 50%;
            width: 0;
            height: 0;
            margin-left: -10px;
            content: "";
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            opacity: 0;
            border-width: 10px 10px 0 10px;
            border-style: solid;
            border-color: #fff transparent transparent transparent; }
          .shortcode .myNavtab .nav-tabs .nav-item .nav-link i {
            font-size: 36px; }
          .shortcode .myNavtab .nav-tabs .nav-item .nav-link:hover, .shortcode .myNavtab .nav-tabs .nav-item .nav-link.active {
            background-color: #ffffff;
            border: none; }
            .shortcode .myNavtab .nav-tabs .nav-item .nav-link:hover:after, .shortcode .myNavtab .nav-tabs .nav-item .nav-link.active:after {
              opacity: 100; }
  .shortcode .myTab-content {
    margin: 40px 0; }
    .shortcode .myTab-content span {
      letter-spacing: 2px;
      color: #7e7e7e;
      font-size: 14px; }
    .shortcode .myTab-content h2 {
      margin-bottom: 0;
      letter-spacing: 2px;
      font-weight: normal;
      font-size: 30px; }

.fun-factor {
  background-color: #1b1b1b; }
  .fun-factor .fun-factor-item {
    text-align: center;
    color: #fff;
    padding: 100px 0; }
    .fun-factor .fun-factor-item .icon {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 10px; }
      .fun-factor .fun-factor-item .icon i {
        padding-right: 10px;
        font-size: 36px; }
      .fun-factor .fun-factor-item .icon h1 {
        display: inline-block;
        margin-bottom: 0;
        font-size: 36px; }
    .fun-factor .fun-factor-item .fun-info {
      position: relative;
      padding-left: 0; }

.testimonial .testimonial-content {
  margin: 0 auto !important;
  text-align: center; }
  .testimonial .testimonial-content .item {
    margin: 10rem 0 2rem 0; }
    .testimonial .testimonial-content .item .testimonial-avatar {
      display: inline-block;
      width: 100px;
      height: auto;
      margin-bottom: 20px; }
      .testimonial .testimonial-content .item .testimonial-avatar img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 50%; }
  .testimonial .testimonial-content .content p {
    font-size: 16px;
    font-style: italic;
    line-height: 3rem;
    margin: 0 0 3rem;
    color: #7e7e7e; }
  .testimonial .testimonial-content .content .testimonial-meta {
    margin-top: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222;
    font-size: 14px; }
    .testimonial .testimonial-content .content .testimonial-meta span {
      display: block;
      color: #7f7f7f;
      font-size: 12px; }
.testimonial .owl-dots {
  margin-bottom: 5rem; }

.clients .clients-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0; }
  .clients .clients-content .clients-item {
    display: inline;
    margin: 20px; }
    .clients .clients-content .clients-item img {
      display: block;
      width: 100%;
      height: auto; }

#footer.dark {
  color: #6f7273;
  background: #222; }
  #footer.dark .primary-footer {
    padding: 80px 0;
    background: #222; }
    #footer.dark .primary-footer .footer-logo {
      display: block;
      margin-bottom: 20px; }
  #footer.dark h5 {
    letter-spacing: 1px;
    color: #fff; }
  #footer.dark .f-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    #footer.dark .f-list li {
      border-bottom: 1px solid #333; }
      #footer.dark .f-list li a {
        display: block;
        color: #a2a2a2;
        line-height: 45px; }
        #footer.dark .f-list li a::before {
          padding-right: 15px;
          content: "\f105";
          font-family: "fontawesome"; }
  #footer.dark .f-img {
    margin: 0;
    padding: 0;
    list-style: none; }
    #footer.dark .f-img li a {
      width: 55px;
      height: 55px;
      float: left;
      margin: 0 10px 10px 0; }
      #footer.dark .f-img li a img {
        width: 100%;
        height: auto; }
  #footer.dark .secondary-footer {
    display: inline-block;
    width: 100%;
    padding: 35px 0;
    border-top: 1px solid #2c2c2c;
    background: #1b1b1b;
    font-weight: normal; }
    #footer.dark .secondary-footer span a {
      color: #fff;
      text-decoration: none;
      transition: all .3s; }
      #footer.dark .secondary-footer span a:hover {
        color: #d6b161; }
    #footer.dark .secondary-footer .circle {
      border-radius: 50%;
      float: right !important; }
      #footer.dark .secondary-footer .circle a {
        width: 35px;
        height: 35px;
        text-align: center;
        border: 1px solid #5a5a5a;
        border-radius: 50%;
        line-height: 35px;
        display: inline-block;
        margin: 0 0 0 15px;
        color: #5a5a5a;
        font-size: 20px;
        transition: all .3s; }
        #footer.dark .secondary-footer .circle a:hover {
          color: #fff;
          background-color: #a2a2a2; }

.lift-off_show {
  transform: translateY(0);
  opacity: 1; }

.lift-off {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  transition: all .3s;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  line-height: 40px; }
  .lift-off:hover {
    background-color: #d6b161;
    color: #6f7273; }

/*# sourceMappingURL=main.css.map */
