/* GLOBAL CSS */
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: fontchinh;
}

body{
    margin: 0;
}
html{
    font-size: 20px;
}

.section-padding{
    padding:0 10%;
}
@font-face{
    font-family: fontchinh;
    src: url('../font/OpenSans-Regular.ttf');
}

:root{
    --nau: #B06010;
    
}
/* END GLOBAL CSS */
/* HEADER CSS */
.header{
    width: 100%;
    height: 2rem;
    background-color: var(--nau);
    color: #ffffff;
    letter-spacing: 0.1rem;
}
.header i{
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem;
}

.header span{
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}
/* END HEADER CSS */

/* NAV CSS */
.nav{
    width: 100%;
    height: 4rem;
}
.nav__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo{
    cursor: pointer;
}
.nav__menu ul li{
    display: inline-block;
    margin: 0 0.5rem;
    font-size: 0.6rem;
    font-weight: 600;
}
.nav__menu ul li a{
    text-decoration: none;
    letter-spacing: 1px;
    padding: 0.3rem 0.5rem;    
}
.nav__menu ul li a:visited{
    color: #000000;
}
.nav__menu ul li:hover a{    
    border-bottom: 2px solid var(--nau);
    color: var(--nau);
}
.nav__menu ul li.active a{
    border-bottom: 2px solid var(--nau);
    color: var(--nau);
}
.nav__social{
    display: flex;
    align-items: center;    
}
.nav__social_item{
    width: 1.5rem;
    height: 1.5rem;
    border: 0.5px solid;
    border-radius: 50%;    
    margin-left: 0.5rem;
    position: relative;
    cursor: pointer;
}
.nav__social_item i{
    font-size: 0.7rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #ffffff;    
}

.nav__social__fb{
    background-color: #3B5998;
    border-color: #3B5998;
}
.nav__social__tw{
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}
.nav__social__dr{
    background-color: #EA4C89;
    border-color: #EA4C89;
}
/* END NAV CSS */

/* CAROUSEL CSS */
.carousel{
    width: 100%;
    height: 30rem;
    background-image: url('../imgs/banner-1.jpg');
    background-position: center center;
    text-align: center;   
}

.carousel__caption{
    padding-top: 20%;
    color: #ffffff;   
}
.carousel__caption h1{
    font-size: 2rem;
    font-weight: 500;
}
.carousel__social i{
    color: var(--nau);
    padding: 0 1rem;
}
/* END CAROUSEL CSS */

/* ABOUT CSS */
.about{
    width: 100%;
    text-align: center;

}
.about__caption>h1{    
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 600;
    color: #272D39;
    letter-spacing: 0.2rem;
}
.about__caption>p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--nau);
    letter-spacing: 0.2rem;
    word-spacing: 0.1rem;
}
.about__caption>span{
    font-size: 0.8rem;
    font-weight: 500;
    color: #A2A2A2;
    text-align: justify;
    
}
.about__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__item__content{    
    margin: 3rem 1rem;
}
.about__item__content i{
    font-size: 1.5rem;
    color: #214C87;
}
.about__item__content p{
    font-size: 1rem;
    font-weight: 600;
    color: var(--nau);   
    letter-spacing: 0.1rem; 
}
.about__item__content span{
    font-size: 0.6rem;
    font-weight: 500;
    color: #A2A2A2;    
}
/* END ABOUT CSS */

/* FUTURE CSS */
.future{
    width: 100%;
    height: 20rem;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: #015BB1;
    
}
.future__img{
    width: 60%;
    height: 100%;    
    background-image: url('../imgs/2.jpg');
    background-position: right bottom;
    
}
.future__caption{
    width: 40%;
    padding: 2rem;
    color: #ffffff;
}
.future__caption p{
    color: #000000;
    font-size: 0.7rem;
    font-weight: 500;
}
.future__caption__list{
    font-size: 0.7rem;
    line-height: 2rem;
    margin-top: 2rem;
}
.future__caption__list i{
    padding-right: 1rem;
}
/* END FUTURE CSS */

/* TEAM CSS */
.team{
    text-align: center;
}
.team > h1{
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 600;
    color: #272D39;
    letter-spacing: 0.2rem;
}
.team>p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--nau);
    letter-spacing: 0.2rem;
    word-spacing: 0.1rem;
}
.team__content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.team__content_item{
    padding: 2rem;
}
.team__content_item__avatar img{
    width: 7rem;
    height: 7rem;
    border: 1px solid transparent;
    border-radius: 50%;
}
.team__content_item h1{
    font-size: 1rem;
    color: var(--nau);
    letter-spacing: 0.1rem;
}
.team__content_item p{
    font-size: 0.8rem;
    font-weight: 500;
    color: #4F5667;
}
.team__content_item i{
    font-size: 0.8rem;
    color: #214C87;
    
}
/* END TEAM CSS */

/* CUSTOMER CSS*/
.customer{
    width: 100%;
    height: 40rem;
    background-image: url('../imgs/banner-2.jpg');
    text-align: center;
}
.customer>h1{
    margin-top: 2rem;
    padding-top: 6rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: #ffffff;
}
.customer>p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--nau);
    letter-spacing: 0.2rem;
    word-spacing: 0.1rem;
}
.customer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    color: #ffffff;
    margin-top: 2rem;
}
.customer__content__item{
    padding: 2rem;
}
.customer__content__item__message{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    margin: 0;
    border-radius: 5px;
    line-height: 1.5rem;
    text-align: left;
    position: relative;
}
.customer__content__item__message__down{
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: -10px;
    left: 50px;
  }

.customer__content__item__message p{
    font-size: 0.8rem;
    font-weight: 500;
}
.customer__content__item__icon{
    display: flex;    
    justify-content: center;
    margin: 2rem 0;
}
.customer__content__item__icon_avatar img{
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}
.customer__content__item__icon_caption{
    text-align: left;
}
.customer__content__item__icon_caption p{
    margin: 0;
    font-size: 0.8rem;
    font-weight: 600;
}
.customer__content__item__icon_caption span{
    margin: 0;
    font-size: 0.7rem;
    font-weight: 500;
    color: #A2A2A2;
}
/* END CUSTOMER CSS */

/* OVERVIEW CSS */
.overview{
    text-align: center;
}
.overview>h1{    
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: #272D39;
}
.overview>p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--nau);
    letter-spacing: 0.2rem;
    word-spacing: 0.1rem;
}
.overview__content{
    margin:2rem 10%;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    background-color: #222222;
    
}
.overview__content__item{
    display: flex;
    align-items: center;
    justify-content: space-around;    
}
.overview__content__item__icon{
    font-size: 2rem;
    color: var(--nau);
    margin-right: 2rem;  
}
.overview__content__item__caption{
    font-size: 1rem;
    color: #ffffff;
    text-align: left;    
}
.overview__content__item__caption h1{
    margin: 0;
    letter-spacing: 0.1rem;
}
.overview__content__item__caption p{
    font-size: 0.7rem;
    margin: 0;
}
/* END OVERVIEW CSS */

/* FOOTER CSS */
.footer{
    width: 100%;
    background-color: #000000;
}
.footer__content{    
    display: flex;    
    justify-content: space-between;
    padding-top: 2rem;
}
.footer__content__item{
    color: #808080;
}
.footer h1{
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 2rem;
}
.footer__content__item p,.footer__content__item span{
    font-size: 0.7rem;
}
.footer__content__item p b{
    color: #015BB1;    
}
.footer__content__item i{
    font-size: 0.7rem;
    margin-right: 0.5rem;
}
.footer__signup{
    color: #ffffff;
}
.footer__signup h1{
    margin: 0;
}
.footer__form{
    display: flex;
    padding: 2rem 0;
}
.footer__form__email{
    width: 80%;
    height: 2rem;;
    margin-right: 1rem;
    border: 0.5px solid #1B1B1B;
}
.footer__form__email::placeholder{
    padding: 1rem;
    color: #808080;
    background-color: #1B1B1B;    
}
.footer__form__btn{
    width: 20%;
    color: #ffffff;
    background-color: #214C87;
    border: 1px solid #214C87;
    cursor: pointer;
}
.footer__form__btn:hover{
    background-color: var(--nau);
}
.footer__end{
    width: 100%;
    height: 2rem;
    background-color: #121212;   
    text-align: center;
}
.footer__end p{
    color: #ffffff;
    padding-top: 0.5rem;
    font-size: 0.7rem;
}
.footer__end u{
    color: var(--nau);
}
/* END FOOTER CSS */